body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color : #071C4D;

            &.active {
                font-weight: bold;
                color : #071C4D !important;
            }
        }
    }
}

.btn-login {
    background-color:#071C4D ;
    color: #ffffff;

    &:hover {
        background-color: rgb(62, 120, 255);
        color: black;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

//Header
header {
    margin-top: -68px;
    padding :180px 0px 165px;
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    h1,p {
        color : white;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
        font-weight: lighter;
    }

    .btn-get-started {
        background-color: #FF9e53;
        color: white;

        &:hover {
            background-color: rgb(175, 96, 36);
            color: white;
        }
    }
}

//stats

.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 30px;
    }

    h2 {
        font-size: 24px;
        font-family: 'Assistant', sans-serif;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        font-weight: lighter;
    }
}

.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,p {
            color: #ffffff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: #ffffff;
        }

        .travel-location {
            font-size: 26px;
            color: #ffffff;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #FF9e53;
                color: #ffffff;

                &:hover {
                    background-color: #ffae6f;
                    color: #ffffff;
                }
            }
        }
    }
}

.section-network {
    margin-top: 70px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
    margin-top: 30px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
        color: #071C4D;
    }
    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 20px;
        border-radius: 11px;
    }

    .testimonial-content {
        min-height: 380px;
    }

    h3 {
        font-size: 22px;
    }

    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 160px;
    }

    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }
    
    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        background-color: #FF9e53;
        color: white;

        &:hover {
            background-color: rgb(175, 96, 36);
            color: white;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

.section-footer {
    a {
        color: #071C4D;
    }
}

.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}


.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }
}


.card-details {
    padding: 30px;
    border-radius: 11px;

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
        color: #b1b1b1;
    }
    .row-information {
        th {
            font-weight: 400;
            font-size: 18px;
            color: #071C4D;
        }
        td {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
    }
    .disclaimer {
        font-size: 14px;
        font-weight: 300;
        color: #b1b1b1;
    }
    h3 {
        font-weight: 600;
        font-size: 14px;
        color: #071C4D;
    }
    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }

        .input-group-append {
            .btn {
                padding-right: 30px;
            }
        }
    }
    .btn-add-now {
        background-color: #071C4D;
        color: #fff;

        &:hover {
            background-color: rgb(16, 68, 189);
            color: #fff;
        }
    }
    .text-blue {
        color : #071C4D;
        font-weight: bold;
    }
    .text-orange {
        color: #da6913;
        font-weight: bold;
    }
    .payment-instruction {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }
    .bank {
        .bank-item {
            h3{
                font-size: 18px;
                color: #071C4D;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }

            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;

                p {
                    font-weight: normal;
                    font-size: 16px;
                    color: #071C4D;
                }
            }
        }

        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}
.card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}   

.features {
    margin-top: 20px;

    h3 {
        font-size: 18px;
        color: #071C4D;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }
}

.features-images {
    height: 45px;
    width: 45px;
    float: left;
}

.gallery {
    .xzoom-container {
        display : block;
    }

    .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 10px;
    }

    .xactive {
        border :2px solid #071C4D;
        box-shadow: none;
    }

}

.members {
    .member-image {
        width: 40px;
        height: 40px;
    }
}

.join-container {
    margin-top : -27px;
}
.btn-join-now {
    background-color: #FF9e53;
    color: #fff;
    border-radius: 11px;
    height: 57px;
    font-size: 26px;
    font-weight: bolder;
    
    &:hover {
        background-color: #da6913;
        color: #fff;
    }
}

.btn-home {
    background-color: #071C4D;
    color: #fff;

    &:hover {
        background-color: rgb(20, 61, 155);
        color: #fff;
    }
}

.success {
    p {
        font-weight: 300;
        font-size: 16px;
        color: #b1b1b1;
    }
}
